*{
    margin: 0px;
    padding: 0px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clearfix{
    clear: both;
}

.header {
    background-color: white;
    min-height: 100px;
}

.container {
   margin: 0 auto;
    width: 85%;
}

.logo {
}

.social_icon {
    margin-top: 20px;
}

.donate_btn{
    background-color: #114D8C;
    border: none;
    min-height: 30px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
}

.involved_btn{
    background-color: #6B0408;
    border: none;
    min-height: 30px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
}

.social_style {
    margin: 8px;
}

.social_style i{
    margin-top: 10px;
    padding-left: 10px;
    color: #054D88;
}

.fa.fa-facebook {
}

.fa.fa-twitter {
}

.fa.fa-linkedin {
}

.navigation {
    background-color: #299DDA;
    min-height: 50px;
}

.navbar {
    float: left;
}
.navbar ul {
    list-style: none;
}
.navbar ul li {
    float: left;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 28px;
}
.navbar ul li a:hover {
    background-color: blue;
}

.slider {
    background-color: #000000;
    color: white;
    min-height: 376px;
}

.slider_left {
    width: 50%;
}

.form_wrapper {
    width: 80%;
    text-align: center;
    margin-top: 75px;
}

.form_wrapper h3{
    font-size: 30px;
    font-weight: normal;
}

.subtitle {
    font-size: 18px;
    padding: 10px;
}

.email_field{
    text-align: center;
    padding: 3px;
    width: 44%;
    border: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    height: 24px;
}

.sign_up_btn{
    background: #114D88;
    border: none;
    width: 46%;
    color: white;
    padding: 7px;
    border-radius: 4px;
}

.donate_now a button{
    background: #299DDA;
    border: none;
    padding: 10px;
    width: 46%;
    border-radius: 5px;
    margin-top: 13px;
    color: white;
}
.form-title {
    padding-bottom: 7px;
}

.form-group {
}

.ratings i {
    color: #62615D;
    margin-top: 10px;
}

.fa.fa-star {
}

.donate_now {
}

.slider_right {
    width: 50%;
}

.testimonial {
    margin: 20px auto;
}

.testimonial_content {
    text-align: center;
    padding: 10px;
    
}

.features {
    min-height: 220px;
    width: 100%;
}

.single_features {
    margin: 10px 28px;
    padding: 3px;
    width: 25%;
    height: 220px;
}

.single_features img{
    height:180px;
    width:100%;
}
.footer {
    min-height: 350px;
}

.footr_top {
    background-color: #104E89;
    min-height:260px;
}

.footer_logo {
    margin: 10px 28px;
    padding: 5px;
    width: 25%;
}

.footer_content {
    margin: 15px 25px;
    padding: 3px;
    width: 25%;
    color: white;

}

.footer_content h2{
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 5px;
}

.footer_content p{
    margin-bottom: 5px;
}

.footr_bottom {
    background-color: #69040A;
    min-height: 90px;
}

.copyright {
    text-align: center;
    color: white;
}

.copyright h4{
    margin-bottom: 7px;
}

.copyright p{
    font-weight: normal;
    font-size: 14px;
}